doc/enrollment.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://benefits-selection.com/qx/enrollment" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="https://benefits-selection.com/qx/enrollment" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://benefits-selection.com/qx/enrollment">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="SiteGUID">
        <s:complexType />
      </s:element>
      <s:element name="SiteGUIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SiteGUIDResult" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExportCheckSum">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="exportID" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExportCheckSumResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExportCheckSumResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckUserResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckEmployeePIN">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="portfolioID" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="employeeID" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="pin" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckEmployeePINResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckEmployeePINResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginGUID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passwd" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="uniqueID" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginGUIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginGUIDResult" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLoginGUID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passwd" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="portfolioID" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="uniqueID" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLoginGUIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetLoginGUIDResult" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PortfolioAsOfDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="portfolioID" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PortfolioAsOfDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PortfolioAsOfDateResult" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Upload">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="data" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Query">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="data" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SiteGUIDSoapIn">
    <wsdl:part name="parameters" element="tns:SiteGUID" />
  </wsdl:message>
  <wsdl:message name="SiteGUIDSoapOut">
    <wsdl:part name="parameters" element="tns:SiteGUIDResponse" />
  </wsdl:message>
  <wsdl:message name="ExportCheckSumSoapIn">
    <wsdl:part name="parameters" element="tns:ExportCheckSum" />
  </wsdl:message>
  <wsdl:message name="ExportCheckSumSoapOut">
    <wsdl:part name="parameters" element="tns:ExportCheckSumResponse" />
  </wsdl:message>
  <wsdl:message name="CheckUserSoapIn">
    <wsdl:part name="parameters" element="tns:CheckUser" />
  </wsdl:message>
  <wsdl:message name="CheckUserSoapOut">
    <wsdl:part name="parameters" element="tns:CheckUserResponse" />
  </wsdl:message>
  <wsdl:message name="CheckEmployeePINSoapIn">
    <wsdl:part name="parameters" element="tns:CheckEmployeePIN" />
  </wsdl:message>
  <wsdl:message name="CheckEmployeePINSoapOut">
    <wsdl:part name="parameters" element="tns:CheckEmployeePINResponse" />
  </wsdl:message>
  <wsdl:message name="LoginGUIDSoapIn">
    <wsdl:part name="parameters" element="tns:LoginGUID" />
  </wsdl:message>
  <wsdl:message name="LoginGUIDSoapOut">
    <wsdl:part name="parameters" element="tns:LoginGUIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetLoginGUIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetLoginGUID" />
  </wsdl:message>
  <wsdl:message name="GetLoginGUIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetLoginGUIDResponse" />
  </wsdl:message>
  <wsdl:message name="PortfolioAsOfDateSoapIn">
    <wsdl:part name="parameters" element="tns:PortfolioAsOfDate" />
  </wsdl:message>
  <wsdl:message name="PortfolioAsOfDateSoapOut">
    <wsdl:part name="parameters" element="tns:PortfolioAsOfDateResponse" />
  </wsdl:message>
  <wsdl:message name="UploadSoapIn">
    <wsdl:part name="parameters" element="tns:Upload" />
  </wsdl:message>
  <wsdl:message name="UploadSoapOut">
    <wsdl:part name="parameters" element="tns:UploadResponse" />
  </wsdl:message>
  <wsdl:message name="QuerySoapIn">
    <wsdl:part name="parameters" element="tns:Query" />
  </wsdl:message>
  <wsdl:message name="QuerySoapOut">
    <wsdl:part name="parameters" element="tns:QueryResponse" />
  </wsdl:message>
  <wsdl:portType name="EnrollmentSoap">
    <wsdl:operation name="SiteGUID">
      <wsdl:input message="tns:SiteGUIDSoapIn" />
      <wsdl:output message="tns:SiteGUIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExportCheckSum">
      <wsdl:input message="tns:ExportCheckSumSoapIn" />
      <wsdl:output message="tns:ExportCheckSumSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckUser">
      <wsdl:input message="tns:CheckUserSoapIn" />
      <wsdl:output message="tns:CheckUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckEmployeePIN">
      <wsdl:input message="tns:CheckEmployeePINSoapIn" />
      <wsdl:output message="tns:CheckEmployeePINSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginGUID">
      <wsdl:input message="tns:LoginGUIDSoapIn" />
      <wsdl:output message="tns:LoginGUIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLoginGUID">
      <wsdl:input message="tns:GetLoginGUIDSoapIn" />
      <wsdl:output message="tns:GetLoginGUIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PortfolioAsOfDate">
      <wsdl:input message="tns:PortfolioAsOfDateSoapIn" />
      <wsdl:output message="tns:PortfolioAsOfDateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Upload">
      <wsdl:input message="tns:UploadSoapIn" />
      <wsdl:output message="tns:UploadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Query">
      <wsdl:input message="tns:QuerySoapIn" />
      <wsdl:output message="tns:QuerySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EnrollmentSoap" type="tns:EnrollmentSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SiteGUID">
      <soap:operation soapAction="https://benefits-selection.com/qx/enrollment/SiteGUID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportCheckSum">
      <soap:operation soapAction="https://benefits-selection.com/qx/enrollment/ExportCheckSum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUser">
      <soap:operation soapAction="https://benefits-selection.com/qx/enrollment/CheckUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckEmployeePIN">
      <soap:operation soapAction="https://benefits-selection.com/qx/enrollment/CheckEmployeePIN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginGUID">
      <soap:operation soapAction="https://benefits-selection.com/qx/enrollment/LoginGUID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoginGUID">
      <soap:operation soapAction="https://benefits-selection.com/qx/enrollment/GetLoginGUID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PortfolioAsOfDate">
      <soap:operation soapAction="https://benefits-selection.com/qx/enrollment/PortfolioAsOfDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Upload">
      <soap:operation soapAction="https://benefits-selection.com/qx/enrollment/Upload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Query">
      <soap:operation soapAction="https://benefits-selection.com/qx/enrollment/Query" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EnrollmentSoap12" type="tns:EnrollmentSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SiteGUID">
      <soap12:operation soapAction="https://benefits-selection.com/qx/enrollment/SiteGUID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportCheckSum">
      <soap12:operation soapAction="https://benefits-selection.com/qx/enrollment/ExportCheckSum" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUser">
      <soap12:operation soapAction="https://benefits-selection.com/qx/enrollment/CheckUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckEmployeePIN">
      <soap12:operation soapAction="https://benefits-selection.com/qx/enrollment/CheckEmployeePIN" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginGUID">
      <soap12:operation soapAction="https://benefits-selection.com/qx/enrollment/LoginGUID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoginGUID">
      <soap12:operation soapAction="https://benefits-selection.com/qx/enrollment/GetLoginGUID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PortfolioAsOfDate">
      <soap12:operation soapAction="https://benefits-selection.com/qx/enrollment/PortfolioAsOfDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Upload">
      <soap12:operation soapAction="https://benefits-selection.com/qx/enrollment/Upload" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Query">
      <soap12:operation soapAction="https://benefits-selection.com/qx/enrollment/Query" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Enrollment">
    <wsdl:port name="EnrollmentSoap" binding="tns:EnrollmentSoap">
      <soap:address location="http://localhost:49101/Enrollment.asmx" />
    </wsdl:port>
    <wsdl:port name="EnrollmentSoap12" binding="tns:EnrollmentSoap12">
      <soap12:address location="http://localhost:49101/Enrollment.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>